{{#>layout}}
<table role="presentation" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <p>Witaj,</p>
      <p>Twoje hasło do konta zostało zmienione. Od teraz do konta będzie można się zalogować tylko nowym hasłem.
      </p>
      <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
        <tbody>
          <tr>
            <td align="left">
              <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                  <tr>
                    <td> <a href="{{ link }}" target="_blank">Przejdź do systemu</a> </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
      <p>Jeśli nie zmieniałeś hasła do konta w systemie, możesz je zresetować.</p>
 
    </td>
  </tr>
</table>
{{/layout}}