{{#>layout}}
<table role="presentation" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <p>Witaj,</p>
      <p>Dziękujemy za rejestrację konta w systemie. Zanim będziesz mógł zalogować się na swoje konto, musisz
        jeszcze potwierdzić rejestrację klikając poniższy link.</p>
      <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
        <tbody>
          <tr>
            <td align="left">
              <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                  <tr>
                    <td> <a href="{{ link }}" target="_blank">Potwierdź rejestrację</a> </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
      <p>Jeśli nie zakładałeś konta w systemie i uważasz, że otrzymałeś tą wiadomość email przez pomyłkę,
        skontaktuj się z
        nami.</p>
      <p>-</p>
    </td>
  </tr>
</table>
{{/layout}}