{{#>layout}}
<table role="presentation" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <p>Witaj,</p>
      <p>Otrzymałeś tą wiadomość, ponieważ użyłeś formularza resetu hasła systemu. Kliknij w poniższy link, aby
        ustawić nowe hasło.</p>
      <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
        <tbody>
          <tr>
            <td align="left">
              <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                  <tr>
                    <td> <a href="{{ link }}" target="_blank">Zmień hasło</a> </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
      <p>Jeśli nie użyłeś formularza resetu hasła w systemie i uważasz, że otrzymałeś tą wiadomość email przez
        pomyłkę,
        skontaktuj się z
        nami.</p>
      <p>-</p>
    </td>
  </tr>
</table>
{{/layout}}